<!DOCTYPE html>
<html>
<head>
    <title>About</title>
     <link rel="icon" href="./img/neon.jpg">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Puneet. It uses data from Mapbox.com and Darksky.net.</p>
    <img class="portrait" src="/img/Picture0001.jpg" alt="">
    </div>

    {{>footer}}
</body>
</html>