<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/neon.jpg">
    
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}

    <p>Use this site to get your weather.</p>

    <form action="">
        <input placeholder='Location' type="text">
        <button>Search</button>
    </form>

    <p id='msg-1'></p>
    <p id='msg-2'></p>
    </div>

    {{>footer}}

    <script src="/js/app.js">
    </script>
</body>

</html>

<!-- hbs partials are used as part of our webpage, so that we dont have to write same code over and over.
 much like a bootstrap, these templates provide good looks.
 hbs aka handlebars is another npm module-->